body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #023e8a;
    margin: 0;
}

h2 {
    margin-bottom: 40px;
}

#scoreboard {
    min-width: 5rem;
    z-index: 6;
    opacity: 0;
    position: absolute;
    right: 3rem;
    font-size: 6rem;
    color: #023e8a;
}

#scoreboard:before {
    content: 'moves ';
    font-size: 0.5em;
    color: #c1121f;
}

#gameBoard {
    min-height: 100vh;
    display: flex;
    background: rgba(178, 217, 190, 0.3);
    position: relative;
}

.column {
    opacity: 0;
    flex: 1;
    z-index: 5;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}

.column:before {
    content: '';
    width: 1rem;
    background: #7a7162;
    height: 27rem;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}


.column2 {
    position: relative;


}

.star-container {
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .star {
        font-size: 32px;
    }

    .star-active {
        color: rgb(220, 50, 35);
        font-size: 32px;
    }
}

.container2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    z-index: 1;
}

.column:not(.selected):hover {
    background: rgba(178, 217, 190, 0.5);
}

.column.selected {
    background: rgba(178, 217, 190, 0.8);
}

.disc {
    height: 3rem;
    background: #555;
    border-radius: .4rem;
    width: 30%;
    position: absolute;
    bottom: 0rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .discnumber {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        line-height: 3rem;
    }
}

.disc:nth-last-of-type(1) {
    bottom: 0.1rem;
}

.disc:nth-last-of-type(2) {
    bottom: 3.2rem;
}

.disc:nth-last-of-type(3) {
    bottom: 6.3rem;
}

.disc:nth-last-of-type(4) {
    bottom: 9.4rem;
}

.disc:nth-last-of-type(5) {
    bottom: 12.5rem;
}

.disc:nth-last-of-type(6) {
    bottom: 15.6em;
}

.disc:nth-last-of-type(7) {
    bottom: 18.7em;
}

.disc:nth-last-of-type(8) {
    bottom: 21.8em;
}

.disc:nth-last-of-type(9) {
    bottom: 24.9em;
}

.disc.layer1 {
    width: 4rem;
    left: calc(50% - 2rem);
    background: #0D97FB;
}

.disc.layer2 {
    width: 7rem;
    left: calc(50% - 3.5rem);
    background: #0B43E3;
}

.disc.layer3 {
    width: 10rem;
    left: calc(50% - 5rem);
    background: #1100FA;
}

.disc.layer4 {
    width: 13rem;
    left: calc(50% - 6.5rem);
    background: #5E00EB;
}

.disc.layer5 {
    width: 16rem;
    left: calc(50% - 8rem);
    background: #BD00FF;
}

.disc.layer6 {
    width: 19rem;
    left: calc(50% - 9.5rem);
    background: #4b0067;
}

.disc.layer7 {
    width: 22rem;
    left: calc(50% - 11rem);
    background: #190023;
}

.disc.layer8 {
    width: 25rem;
    left: calc(50% - 12.5rem);
    background: #0e0013;
}

.disc.layer9 {
    width: 28rem;
    left: calc(50% - 14rem);
    background: #000000;
}


.column.selected>.disc:first-of-type {
    top: -10rem;
}

#options {
    position: absolute;
    left: 0rem;
    top: 25%;
    width: 100%;
    z-index: 10;
}

#options h1,
#options h2 {
    text-align: center
}

#options h1 {
    font-size: 80px;
}

#options h2 {
    font-size: 80px;
}

.button-row {
    display: flex;
    margin: 5rem auto 0rem auto;
    width: 100%;

}

button {
    display: block;
    width: 40%;

    cursor: pointer;
    margin: 0rem .5rem;
    background-color: transparent;
    font-size: 2.5rem;
    border: solid .1rem #023e8a;
    border-radius: .6rem;
    padding: 2rem 1rem;
    color: #023e8a;
}

.play-again-btn {
    margin: 0 auto;
}

button:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.22);
    background-color: #c1121f;
    color: #fff;
    border: none;
    padding: calc(2rem + .1rem) calc(1rem + .1rem);
}

#win {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 0rem;
    top: 0rem;
    font-size: 2em;
    opacity: 0;
    width: 100%;
    min-height: 100vh;
}





@media only screen and (max-width : 768px) {
    html {
        font-size: 5px;
    }

    .button-row {
        flex-direction: column;
        align-items: center;
    }

    .button-row>button {
        font-size: 5rem;
        border-width: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #options h1 {
        font-size: 50px;
        text-align: center;
    }

    #win {
        font-size: 20px;
    }

    .play-again-btn {
        font-size: 20px;
    }

}